{% extends "layout.html" %}

{% block title %}
  Chat
{% endblock %}

{% block main %}
  <div class="chat-container container-sm  border">
    <div class="chat-messages">
      <ul class="message"></ul>
    </div>
    <div class="chat-input input-group mb-3">
      <input type="text" autocomplete="off" autofocus id="message-input" class="form-control" name="message" placeholder="Message">
      <button class="btn-send-message btn btn-primary">
        <span class="material-symbols-outlined">send</span>
      </button>
    </div>
  </div>
{% endblock %}

{% block script %} 
  <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
{% endblock %}